COMPOSE_FILE=compose.test.yaml

TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=password
TEST_POSTGRES_DB=test
TEST_DATABASE_URL=postgresql://postgres:password@test-database:5432/test
EXPIRES_IN=30d
JWT_SECRET=skillfusion