COMPOSE_FILE=compose.test.yaml

SERVER_API_URL=http://backend:3000
WEB_ADDRESS=http://localhost:3000
NEXT_PUBLIC_SERVER_API=http://backend:3000

POSTGRES_USER=skillfusion
POSTGRES_PASSWORD=skillfusion
POSTGRES_DB=skillfusion
DATABASE_URL=postgresql://skillfusion:skillfusion@database/skillfusion

EXPIRES_IN=30d
JWT_SECRET=skillfusion
