COMPOSE_FILE=compose.prod.yaml

SERVER_API_URL=
WEB_ADDRESS=

POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_DB=<db_name>
DATABASE_URL=postgresql://<db_user>:<db_password>@database/<db_name>

EXPIRES_IN=
JWT_SECRET=
