@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.2rem;
  --background: #FDF7E9;
  --foreground: #292929;
  --card: #FCFCFC;
  --card-foreground: #292929;
  --popover: #FFFFFF;
  --popover-foreground: #292929;
  --primary: #F3A160;
  --primary-foreground: #FBFBFB;
  --secondary: #264653;
  --secondary-foreground: #FBFBFB;
  --muted: #EBEBEB;
  --muted-foreground: #535057;
  --accent: #8D6D63;
  --accent-foreground: #E8E7E8;
  --destructive: #D0485A;
  --destructive-foreground: #F7E8E8;
  --border: #8D6D63;
  --input: #ECE7ED;
  --ring: #F3A160;
}

@theme inline {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }
}

@layer utilities {
  .container-wrapper {
    @apply max-w-[1400px] min-[1800px]:max-w-screen-2xl min-[1400px]:border-x border-border/70 mx-auto w-full border-dashed;
  }
}
